In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
fci_df = pd.read_csv("fulfilment_center_info.csv")
mi_df = pd.read_csv("meal_info.csv")
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [3]:
train_df = pd.merge(train_df, fci_df, on='center_id')
test_df = pd.merge(test_df, fci_df, on='center_id')

train_df = pd.merge(train_df, mi_df, on='meal_id')
test_df = pd.merge(test_df, mi_df, on='meal_id')

In [4]:
train_df.describe()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,op_area
count,4.565480e+05,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.00000,456548.000000,456548.000000,456548.000000,456548.000000
mean,1.250096e+06,74.768771,82.105796,2024.337458,332.238933,354.156627,0.081152,0.10920,261.872760,601.553399,56.614566,4.083590
std,1.443548e+05,41.524956,45.975046,547.420920,152.939723,160.715914,0.273069,0.31189,395.922798,66.195914,17.641306,1.091686
min,1.000000e+06,1.000000,10.000000,1062.000000,2.970000,55.350000,0.000000,0.00000,13.000000,456.000000,23.000000,0.900000
25%,1.124999e+06,39.000000,43.000000,1558.000000,228.950000,243.500000,0.000000,0.00000,54.000000,553.000000,34.000000,3.600000
50%,1.250184e+06,76.000000,76.000000,1993.000000,296.820000,310.460000,0.000000,0.00000,136.000000,596.000000,56.000000,4.000000
75%,1.375140e+06,111.000000,110.000000,2539.000000,445.230000,458.870000,0.000000,0.00000,324.000000,651.000000,77.000000,4.500000
max,1.499999e+06,145.000000,186.000000,2956.000000,866.270000,866.270000,1.000000,1.00000,24299.000000,713.000000,93.000000,7.000000

In [5]:
train_df = train_df.set_index("id")
test_df = test_df.set_index('id')

In [6]:
ct_dict = train_df.groupby(['center_type'])['num_orders'].mean().to_dict()

In [7]:
train_df['center_type'] = train_df['center_type'].map(ct_dict)

In [8]:
test_df['center_type'] = test_df['center_type'].map(ct_dict)

In [9]:
train_df.describe()

,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area
count,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000,456548.00000,456548.000000,456548.000000,456548.000000,456548.000000,456548.000000
mean,74.768771,82.105796,2024.337458,332.238933,354.156627,0.081152,0.10920,261.872760,601.553399,56.614566,261.872760,4.083590
std,41.524956,45.975046,547.420920,152.939723,160.715914,0.273069,0.31189,395.922798,66.195914,17.641306,36.523942,1.091686
min,1.000000,10.000000,1062.000000,2.970000,55.350000,0.000000,0.00000,13.000000,456.000000,23.000000,206.670097,0.900000
25%,39.000000,43.000000,1558.000000,228.950000,243.500000,0.000000,0.00000,54.000000,553.000000,34.000000,262.394456,3.600000
50%,76.000000,76.000000,1993.000000,296.820000,310.460000,0.000000,0.00000,136.000000,596.000000,56.000000,262.394456,4.000000
75%,111.000000,110.000000,2539.000000,445.230000,458.870000,0.000000,0.00000,324.000000,651.000000,77.000000,262.394456,4.500000
max,145.000000,186.000000,2956.000000,866.270000,866.270000,1.000000,1.00000,24299.000000,713.000000,93.000000,318.856145,7.000000

In [10]:
train_df['email_homepage'] = train_df['emailer_for_promotion'].values + train_df['homepage_featured'].values
test_df['email_homepage'] = test_df['emailer_for_promotion'].values + test_df['homepage_featured'].values

In [11]:
cat_list = train_df.groupby(['category'])['num_orders'].mean().sort_values().index.to_list()

In [12]:
cat_dict = {}
i=1
for cat in cat_list:
    cat_dict[cat] = i
    i = i+1

In [13]:
train_df['category'] = train_df['category'].map(cat_dict)
test_df['category'] = test_df['category'].map(cat_dict)

In [14]:
cus_list = train_df.groupby(['cuisine'])['num_orders'].mean().sort_values().index.to_list()

In [15]:
cus_dict = {}
i=1
for cus in cus_list:
    cus_dict[cus] = i
    i = i+1

In [16]:
train_df['cuisine'] = train_df['cuisine'].map(cus_dict)
test_df['cuisine'] = test_df['cuisine'].map(cus_dict)

In [17]:
cc_dict = train_df.groupby(['city_code'])['num_orders'].mean().sort_values(ascending=False).to_dict()

In [18]:
train_df['city_code'] = train_df['city_code'].map(cc_dict)
test_df['city_code'] = test_df['city_code'].map(cc_dict)

In [19]:
rc_dict= train_df.groupby(['region_code'])['num_orders'].mean().sort_values(ascending=False).to_dict()

In [20]:
train_df['region_code'] = train_df['region_code'].map(rc_dict)
test_df['region_code'] = test_df['region_code'].map(rc_dict)

In [21]:
train_df.head()

,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,category,cuisine,email_homepage
id,,,,,,,,,,,,,,,
1379560,1,55,1885,136.83,152.29,0,0,177,276.243387,316.481849,206.670097,2.0,11,3,0
1018704,2,55,1885,135.83,152.29,0,0,323,276.243387,316.481849,206.670097,2.0,11,3,0
1196273,3,55,1885,132.92,133.92,0,0,96,276.243387,316.481849,206.670097,2.0,11,3,0
1116527,4,55,1885,135.86,134.86,0,0,163,276.243387,316.481849,206.670097,2.0,11,3,0
1343872,5,55,1885,146.50,147.50,0,0,215,276.243387,316.481849,206.670097,2.0,11,3,0

In [22]:
features = ['week','checkout_price', 'base_price', 'city_code', 'region_code', 'center_type' ,'op_area' ,'category', 'cuisine', 'email_homepage']

In [23]:
X = train_df[features].values

In [24]:
y = train_df.num_orders.values

# Model

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size = 0.4, 
                                                    random_state = 100)

In [26]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)

In [27]:
meanX = sc_X.mean_
varX = sc_X.var_

In [28]:
X_test = sc_X.transform(X_test)

## 1. Linear regression

In [29]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [30]:
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
y_pred = regressor.predict(X_test)

In [32]:
# def msle1(real, predicted):
#     sum=0.0
#     for x in range(len(predicted)):
#         if predicted[x]<0 or real[x]<0: #check for negative values
#             continue
#         p = np.log(predicted[x]+1)
#         r = np.log(real[x]+1)
#         sum = sum + (p - r)**2
#     return sum/len(predicted)

In [33]:
from sklearn.metrics import (mean_squared_error, 
                             mean_absolute_error, 
                             mean_squared_log_error)
mse = mean_squared_error(y_test,y_pred)
print('MSE: ',mse)
rmse = mse**0.5
print('RMSE: ',rmse)
mae = mean_absolute_error(y_test,y_pred)
print('MAE: ',mae)

MSE:  105404.9777877407
RMSE:  324.66132782907897
MAE:  178.6270997641069

## 2. Random Forest Regression

In [34]:
from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor(n_estimators=300, min_samples_leaf=2, random_state=0)

In [35]:
rf_reg.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=2, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=300,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [36]:
y_pred = rf_reg.predict(X_test)

In [37]:
mse = mean_squared_error(y_test,y_pred)
print('MSE: ',mse)
rmse = mse**0.5
print('RMSE: ',rmse)
mae = mean_absolute_error(y_test,y_pred)
print('MAE: ',mae)
msle = mean_squared_log_error(y_test,y_pred)
print('MSLE: ',msle)
rmsle = msle**0.5
print('RMSLE: ',rmsle)

MSE:  30097.37234357264
RMSE:  173.48594278376746
MAE:  82.32191083309871
MSLE:  0.2918715653187435
RMSLE:  0.5402513908531319

# submission

In [38]:
# test_X = test_df[features].values

In [39]:
# test_X = sc_X.transform(test_X)

In [40]:
# pred_y = rf_reg.predict(test_X)

In [41]:
# test_df = pd.read_csv("test.csv")

In [42]:
# submission = pd.DataFrame({'id':test_df['id'],'num_orders':pred_y})

In [43]:
# submission.head()

In [44]:
# filename = 'Food demand Predictions 2.csv'

# submission.to_csv(filename,index=False)

## 3.  Decision Tree Regression

In [45]:
from sklearn.tree import DecisionTreeRegressor

In [46]:
dt_reg = DecisionTreeRegressor(min_samples_leaf=3, min_samples_split=100, random_state=0)

In [47]:
dt_reg.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=3,
                      min_samples_split=100, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=0, splitter='best')

In [48]:
y_pred = dt_reg.predict(X_test)

In [49]:
mse = mean_squared_error(y_test,y_pred)
print('MSE: ',mse)
rmse = mse**0.5
print('RMSE: ',rmse)
mae = mean_absolute_error(y_test,y_pred)
print('MAE: ',mae)
msle = mean_squared_log_error(y_test,y_pred)
print('MSLE: ',msle)
rmsle = msle**0.5
print('RMSLE: ',rmsle)

MSE:  41937.76977902418
RMSE:  204.78713284536258
MAE:  91.42523229460416
MSLE:  0.3194130205246625
RMSLE:  0.5651663653515331

## 4. Gradient Boost

In [50]:
from sklearn.ensemble import GradientBoostingRegressor

In [51]:
gb_reg = GradientBoostingRegressor()

In [52]:
gb_reg.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [53]:
y_pred = gb_reg.predict(X_test)

In [54]:
mse = mean_squared_error(y_test,y_pred)
print('MSE: ',mse)
rmse = mse**0.5
print('RMSE: ',rmse)
mae = mean_absolute_error(y_test,y_pred)
print('MAE: ',mae)
msle = mean_squared_log_error(y_test,y_pred)
print('MSLE: ',msle)
rmsle = msle**0.5
print('RMSLE: ',rmsle)

MSE:  56267.953208676874
RMSE:  237.20867018023787
MAE:  118.45754203021377

ValueError: Mean Squared Logarithmic Error cannot be used when targets contain negative values.

## 5. KNN

In [55]:
from sklearn.neighbors import KNeighborsRegressor

In [56]:
kn_reg = KNeighborsRegressor(n_neighbors=10)

In [57]:
kn_reg.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                    weights='uniform')

In [58]:
y_pred = kn_reg.predict(X_test)

In [59]:
mse = mean_squared_error(y_test,y_pred)
print('MSE: ',mse)
rmse = mse**0.5
print('RMSE: ',rmse)
mae = mean_absolute_error(y_test,y_pred)
print('MAE: ',mae)
msle = mean_squared_log_error(y_test,y_pred)
print('MSLE: ',msle)
rmsle = msle**0.5
print('RMSLE: ',rmsle)

MSE:  46715.32817451539
RMSE:  216.13729010634742
MAE:  93.68666246851383
MSLE:  0.32678258954621936
RMSLE:  0.5716490090485764

## 6. Average Ensemble

In [ ]:
from sklearn.ensemble import VotingRegressor
vr = VotingRegressor(estimators=[('Linear Regression',regressor),
                                 ('Decision Tree',dt_reg),
                                 ('Random Forest',rf_reg),
                                 ('Gradient Boost',gb_reg),
                                 ('KNN',kn_reg)])
vr.fit(X_train, y_train)

In [ ]:
y_pred = vr.predict(X_test)

In [ ]:
mse = mean_squared_error(y_test,y_pred)
print('MSE: ',mse)
rmse = mse**0.5
print('RMSE: ',rmse)
mae = mean_absolute_error(y_test,y_pred)
print('MAE: ',mae)
msle = mean_squared_log_error(y_test,y_pred)
print('MSLE: ',msle)
rmsle = msle**0.5
print('RMSLE: ',rmsle)

## Hyper Parameter Tuning

In [ ]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
parameters = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}

In [ ]:
grid_search = GridSearchCV(estimator = rf_reg, param_grid = parameters, 
                          cv = 3, n_jobs = -1, verbose = 1)

In [ ]:
grid_search = grid_search.fit(X_train, y_train)